<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            {%- if titleOverride %}
                <title>{{ title }}</title>
            {%- else %}
                <title>{{ title or site.title }} {{ '|' if title or site.title else '' }} {{ pkg.author.name }}</title>
            {%- endif %}
            <meta name="description" content="{{ pkg.description or site.description }}" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="generator" content="{{ eleventy.generator }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
            {%- for key,value in metadata %}
                <meta name="{{ key }}" content="{{ value }}">
            {%- endfor %}
            <link rel="icon" href="/img/favicons/favicon.ico" />
            <link rel="icon" type="image/png" href="/img/favicons/favicon-196x196.png" sizes="196x196"/>
            <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96"/>
            <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32"/>
            <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16"/>
            <link rel="icon" type="image/png" href="/img/favicons/favicon-128.png" sizes="128x128"/>
            <link rel="stylesheet" href="/css/main.css" />
            <link rel="stylesheet" href="/css/fonts.css" />
            <script src="/js/main.js"></script>
        {% endblock head%}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
